/* login.css */
.container {
  /* ... your existing styles ... */
  /* position: relative; */
  width: 100vw;
  /* background-image: url("/path/to/your/downloaded/background.jpg"); Update with the correct path to the image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Example to make the container full height of the viewport */
}
.background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  width: 100%;
  height: 100%; /* Ensure it stays behind other content */
}

.login-card {
  z-index: 1;

  background: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
  backdrop-filter: blur(5px); /* Adding a blur effect for supported browsers */
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  /* Rest of your styles for the card */
}

@keyframes invertX {
  0%,
  100% {
    filter: invert(0);
  }
  50% {
    filter: invert(1);
  }
}

.background-text {
  position: absolute;
  top: 10%;
  align-items: center;
  /* transform: translate(-50%, -50%); */
  font-size: 5rem;
  /* color: rgba(255, 255, 255, 0.75); */
  pointer-events: none; /* Make sure clicks go through this layer */
  user-select: none; /* Prevent text selection */
  /* animation: 0.5s infinite; */
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 40px;
  display: flex;
  width: 80px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #565d64;
}
p {
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
  color: rgb(46, 28, 241);
}
.button-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* Add this to your login.css */
.animated-letter {
  display: inline-block; /* Required for animation */
  animation: invertX 2s infinite;
  /* filter: invert(1); */
}
