.dashboard {
  margin-top: 10%;
  text-align: center;
  align-items: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.action-button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0056b3; /* Blue color, you can change it as per your preference */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #0473e9; /* Darker blue on hover */
}

.link-text {
  color: white;
  text-decoration: none;
}
